build/
pkg/
.texpadtmp/
spec.pdf
.godeps
artifacts/
.deps
/bin
deploy/healthcheck
.hologram-package-config
.idea/
agent/support/output.tar.gz
cmd/hologram-agent/hologram-agent
cmd/hologram/hologram
.DS_Store
